<!DOCTYPE html>
<html>
  <head>
    <title>AppSass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render  params[:controller] == 'products' ? 'layouts/navbar_default' : 'layouts/navbar_inverse' %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
